.comment-form-wrapper {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 40px auto;
  .comment-form {
    .add-comment-header {
      color: #1479d5;
    }
    border: solid 1px #ccc;
    background-color: #fff;
    border-radius: 4px;
    width: 70%;
    padding: 10px;
    text-align: center;

    .form-submit-btn {
      cursor: pointer;
      width: 150px;
      background: #fff;
    }
    input {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 8px 8px;
      border-radius: 4px;
      width: 70%;
      margin: 10px;
      text-align: center;
    }
    textarea {
      border: 1px solid #ccc;
      padding: 8px 8px;
      border-radius: 4px;
      width: 70%;
      height: 150px;
      margin: 10px;
    }
  }
}
